@model M05.Models.sm_Programa

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body>
    <div> 
        @Model.descripcion
    </div>
</body>
</html>
